name: Run Tests

on:
  push:
    branches: [ "**" ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'requirements.txt'
      - '.github/workflows/run_tests.yml'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - 'tests/**'

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install unittest-xml-reporting
          pip install -r requirements.txt

      - name: Run tests
        run: |
          export PYTHONPATH=$PYTHONPATH:.
          python tests/run_tests.py
        continue-on-error: true

      - name: Publish Test Results
        uses: test-summary/action@v2
        with:
          paths: test-reports/*.xml
        if: always()

      - name: Upload Test Reports
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: test-reports/
        if: always()
